<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment_4</title>
    <link rel="stylesheet" href="../../../static/CSS/Css.css">
</head>
<body>

{% include('header.html') %}


<div style="margin: 10vw">
    <h1>Users Page:</h1>

    {% if registration_message %}
        <h3 style="color: darkred">{{ registration_message }}</h3>
    {% endif %}

<h2>registration form:</h2>
<form action="/insert_user" method="post">
    <input type="text" name="first_name" placeholder="Insert first name.." required>
    <input type="text" name="last_name" placeholder="Insert last name.." required>
    <input type="email" name="user_email" placeholder="Email" required>
    <input type="text" name="fav_song" placeholder="Insert your favorite song..." required>
    <input type="paassword" name="password" placeholder="Password" required>
    <input type="submit">
</form>

    {% if registration_message %}
        <h3 style="color: darkred">{{ registration_message }}</h3>
    {% endif %}

<h2>validation form for Update:</h2>
<form action="/validation_user" method="post">
    <input type="email" name="user_email" placeholder="Email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit">
</form>


        {% if validation_message %}
            <h3 style="color: darkred">{{ validation_message }}</h3>
        {% endif %}

    {% if v_id %}
        {% for user in users %}
            {% if v_id == user.id %}
                <form action="/update_email" method="post">
                    <input type="hidden" name="user_id" value="{{ v_id }}">
                    <li><h3>Email: {{ user.Email }} </h3></li>
                    <input type="email" name="email" placeholder="New Email">
                    <input type="submit" value="Update"><br>
                </form>

                <form action="/update_song" method="post">
                    <input type="hidden" name="user_id" value="{{ v_id }}">
                    <li><h3>Favorite current song: {{ user.fav_song }} </h3></li>
                    <input type="text" name="song" placeholder="New Song">
                    <input type="submit" value="Update song"><br>
                </form>

                <form action="/update_password" method="post">
                    <input type="hidden" name="user_id" value="{{ v_id }}">
                    <li><h3>To change your password, please enter your new password twice: </h3></li>
                    <input type="password" name="password1" placeholder="first password">
                    <input type="password" name="password2" placeholder="second password">
                    <input type="submit" value="Update"><br>
                </form>

            {% endif %}
        {% endfor %}
    {% endif %}

<h2>Deletion form:</h2>
<form action="/delete_user" method="post">
    <input type="email" name="user_email" placeholder="Email" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit">
</form>

    {% if Deletion_message %}
        <h3 style="color: darkred">{{ Deletion_message }}</h3>
    {% endif %}

<h2>list of users:</h2>
<fieldset STYLE="padding: 2vw ">
<ul>
    {% for user in users %}
        <li><h3 style="color:blue ">User number-{{ user.id }}</h3></li>
        <li><h4> Name: {{user.first_name}}</h4></li>
        <li><h4> Email: {{user.Email}}</h4></li>
        <li><h4> favorit song: {{user.fav_song}}</h4></li><br>
    {% endfor %}

</ul>
</fieldset>
</div>


<script src="../../../static/JS/Jscript.js"></script>

</body>
</html>